*{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: 'neo';
    src: url("font/NEOTERICc.ttf");
}
input:focus{
	outline: none;
}
.form input{
	width: 300px;
	height: 30px;
	font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 20px;
}
.form input::placeholder{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    font-family: "neo";
}
.confirm{
    height: 0;
    overflow: hidden;
    transition: .25s;
}
.btn{
	width:140px;
	height: 40px;
	border: 1px solid #fff;
    background: none;
	font-size:20px;
	color: #fff;
    cursor: pointer;
    margin-top: 25px;
    font-family: "neo";
    transition: .25s;
}
.btn:hover{
    background: rgba(255,255,255,.25);
}
#login_wrap{
    width: 980px;
    min-height: 500px;
    border-radius: 10px;
    font-family: "neo";
    overflow: hidden;
    box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 50%;
    right: 50%;
    margin-top: -250px;
    margin-right: -490px;
}
#login{
    width: 50%;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(45deg, #9a444e, #e06267);
    position: relative;
    float: right;
}
#login #status{
    width: 90px;
    height: 35px;
    margin: 40px auto;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}
#login #status i{
    font-style: normal;
    position: absolute;
    transition: .5s
}
#login span{
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 52%;
    margin-top: -140px;
}
#login span a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 80px;
    font-size: 18px;
}
#bg{
    background: linear-gradient(45deg, #ffffff, #ff6633);
    height: 100%;
}
#login_img{
    width: 50%;
    min-height: 500px;
    background: linear-gradient(45deg, #ffd9b3, #ffffff);
    float: left;
    position: relative;
    
}
#login_img span{
    position: absolute;
    display: block;
}


#login_img p{
    text-align: center;
    color: #af4b55;
    font-weight: 600;
    margin-top: 365px;
    font-size: 25px;
}


#hint{
    width: 100%;
    line-height: 70px;
    background: linear-gradient(-90deg, #9b494d, #bf5853);
    text-align: center;
    font-size: 25px;
    color: #fff;
    box-shadow: 0 0 20px #733544;
    display: none;
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: 0;
    z-index: 999;
}
