/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background: #141414;
	}

	body,input,textarea,select
	{
		font-family: 'Arimo', sans-serif;
		font-size: 11pt;
		line-height: 1.75em;
		color: #4c4c4c;
	}

	h1,h2,h3,h4,h5,h6
	{
		text-transform: uppercase;
		font-weight: bold;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}
		
	/* Change this to whatever font weight/color pairing is most suitable */
	strong, b
	{
		font-weight: bold;
		color: #000000;
	}
	
	em, i
	{
		font-style: italic;
	}

	/* Don't forget to set this to something that matches the design */
	a
	{
		text-decoration: underline;
		color: #272727;
	}

	a:hover
	{
		text-decoration: none;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1em;
	}

	header
	{
		margin-bottom: 1em;
	}
	
		header h2
		{
		}
	
		header .byline
		{
			display: block;
			margin: 0.5em 0 0 0;
			padding: 0 0 0.5em 0;
		}
		
	br.clear
	{
		clear: both;
	}

	/* Sections/Articles */
	
		section,
		article
		{
			margin-bottom: 3em;
		}
		
		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

		.row > section,
		.row > article
		{
			margin-bottom: 0;
		}

	/* Images */

		.image
		{
			display: inline-block;
		}
		
			.image img
			{
				display: block;
				width: 100%;
			}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.full
			{
				display: block;
				width: 100%;
    max-height: 66%;
    min-height: 66%;
				margin: 0 0 2em 0;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Lists */

		ul.default
		{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
			ul.default li
			{
				padding: 0.60em 0em;
				border-top: 1px solid;
				border-color: rgba(255,255,255,.1);
			}
			
			ul.default li:first-child
			{
				padding-top: 0;
				border-top: none;
			}
			
			ul.default a
			{
				text-decoration: none;
				color: rgba(255,255,255,.5);
			}
			
			ul.default a:hover
			{
				text-decoration: underline;
			}
			
		ul.style {
		}
		
		ul.style li {
			margin: 0;
			padding: 2em 0em 1.5em 0em;
			border-top: 1px solid #ECECEC;
		}
		
		ul.style li:first-child
		{
			padding-top: 0;
			border-top: none;
		}
		
		ul.style img {
			float: left;
			margin-right: 20px;
            width: 80px;
            height: 80px;
		}
		
		ul.style p {
		}
		
		ul.style .posted {
			padding: 0em 0em 1em 0em;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 8pt;
			color: #A2A2A2;
		}
		
		ul.style .first {
			padding-top: 0px;
			border-top: none;
		}
							

	/* Buttons */
		
		.button
		{
			position: relative;
			display: inline-block;
			margin-top: 2em;
			padding: 0.90em 1.5em;
			background: #e95d3c;
			border-radius: 40px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.1em;
			color: #FFF;
			-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			cursor: pointer;
		}

			.button:hover
			{
				background: #de3d27;
				color: #FFF !important;
			}
			
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		background: #2a2f27 url(../images/background.jpg) no-repeat;
		background-size: cover;
		padding: 5em 0em;
		text-align: center;
	}

	#logo
	{
        margin-bottom: 3em;
	}
	
    #logo h1
    {
        color: #FFF;
        font-family:monospace;
    }

    #logo h1 a
    {
        display: block;
        letter-spacing: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 900;
        color: #FFF;
    }

	nav
	{      
    	position: fixed;
/*      	width: 100%;
      	line-height: 60px;*/
      	width:calc(100% - 147px);
        flex-wrap:nowrap;
        justify-content:space-between
	}

	nav ul
	{
      line-height: 60px;
      list-style: none;
      background: rgba(225, 225, 225, 0.1);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: left;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
	}

	nav.black ul
	{
		background: rgba(0,0,0,.2);
	}

	nav ul li
	{
      display: inline-block;
      padding: 16px 40px;;
	}

	nav ul li a
	{
/*		text-decoration: none;
		color: #fff;
		font-size: 20px;*/
						display: block;
				padding: 1em 1.5em;
				letter-spacing: 1px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 200;
				font-size: 1em;
				outline: 0;
				color: rgba(255,255,255,.7);
	}

<<<<<<< HEAD
	nav li.active a
	{
			background: none;
			border-radius: 40px;
			border: 5px solid;
			border-color: rgba(255,255,255,.8);
			color: #FFF;
	}
=======
    nav ul li a:hover
    {
        color: #Fbb;
    }
>>>>>>> 3707e747849ffebe2ab29a63dfe1983170850a3f
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background: #333;
		color: #fff;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		background: #fff;
        padding: 6em 0em 4em 0em;
	}

	#content header
	{
		margin-bottom: 2em;
	}
	
	#content header h2
	{
		font-size: 3em;
	}
	
	#content header .byline
	{
		font-size: 1.40em;
	}
	
    .homepage #header
    {
        padding: 15em 0em;
    }

    #content
    {
        text-align: justify;
    }
	#sidebar h2
	{
		display: block;
		padding-bottom: 2em;
		font-size: 1.4em;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		position: relative;
		background: #f2f2f2;
        padding: 6em 0em;
	}
	
	#featured h2
	{
		display: block;
		margin-bottom: 2em;
		font-size: 1.4em;
	}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		position: relative;
		background: #1d1d1d;
        padding: 6em 0em;
	}
	
	#footer h2
	{
		display: block;
		color: #FFF;
        padding-bottom: 2em;
		font-size: 1.4em;
	}
	